export(bartlett)
export(chisquare)
export(dosefactor)
export(drsmooth.print)
export(dunnetts.format)
export(dunnetts1)
export(dunnetts2)
export(dunnettst3)
export(dunns.format)
export(dunns1)
export(dunns2)
export(firstDeriv)
export(jonckheere)
export(lbcd)
export(nlaad)
export(nlbcd)
export(noel)
export(outlier)
export(prelimstats)
export(segment.plot)
export(segment.print)
export(segment)
export(shapiro)
export(smooth)
export(spline.plot)
import(car)
import(clinfun)
import(DTK)
import(mgcv)
import(multcomp)
import(mvtnorm)
import(pgirmess)
import(segmented)
